In [1]:
# Import the required libraries and dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Stock list
stock_list = [
                'XLK',
                'XLV',
                'XLE',
                'VNQ',
                'XLF',
                'XLB',
                'XLU',
                'XLI',
                'XLP',
                'XLY',
                'XTL',
              ]

# Define dictionary
stock_df = {}

# Loop through stocks 
for stock in stock_list:
    # Read the data into DataFrames
    df = pd.read_csv(f'Resources/{stock}.csv')
    
    # Trim to last 10 years
    stock_df[stock] = df.iloc[-2520:]
    
    # Confirm shape
    print(f'{stock}',stock_df[stock].shape)

XLK (2520, 7)
XLV (2520, 7)
XLE (2520, 7)
VNQ (2520, 7)
XLF (2520, 7)
XLB (2520, 7)
XLU (2520, 7)
XLI (2520, 7)
XLP (2520, 7)
XLY (2520, 7)
XTL (2520, 7)

In [3]:
# Access a specific DataFrame
stock_df['XLK']

,Date,Open,High,Low,Close,Adj Close,Volume
3897,2014-06-20,38.200001,38.220001,38.009998,38.090000,33.428440,5427200
3898,2014-06-23,38.049999,38.200001,38.020000,38.200001,33.524986,3767100
3899,2014-06-24,38.180000,38.380001,37.910000,38.000000,33.349468,8471300
3900,2014-06-25,37.919998,38.209999,37.880001,38.150002,33.481102,5111900
3901,2014-06-26,38.180000,38.200001,37.889999,38.110001,33.446007,11352300
...,...,...,...,...,...,...,...
6412,2024-06-18,231.350006,232.169998,230.490005,231.410004,231.004745,4338900
6413,2024-06-20,232.449997,232.589996,228.039993,228.809998,228.409302,6621500
6414,2024-06-21,228.860001,229.759995,227.369995,228.410004,228.009995,6780400
6415,2024-06-24,225.639999,226.660004,222.360001,222.419998,222.419998,6874300
6416,2024-06-25,224.050003,226.619995,222.789993,226.500000,226.500000,4563100